doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="/static/css/style.css")
    title #{pageTitle} | metube
  body
    main
      include partials/header 
      block contents
      include partials/footer.pug
    script(src="/static/js/main.js") 
