extends base

block contents
    form(method="POST")
        input(placeholder="E-mail", required, type="text", name="email")
        input(placeholder="Username", required, type="text", name="username")
        input(placeholder="Password", required, type="password", name="password")
        input(placeholder="Name", required, type="text", name="name")
        input(placeholder="Location", required, type="text", name="location")
        input(type="Submit", value="Join!")
