extends base

block contents
    if errorMessage
        p=errorMessage 
    form(method="POST")
        input(placeholder="E-mail", required, type="text", name="email")
        input(placeholder="Password", required, type="password", name="password")
        input(type="Submit", value="Login!")
    hr
    div 
        p If you don't have account, 
        a(href="join") create account