extends base.pug
include mixins/videoList

block contents
    form(method="GET").search__form
        input(placeholder="Search", required, type="text", name="keyword")
        input(type="Submit", value="Search!")
    div.video-grid
        each a in videos
            +video(a)
        else
            span.empty__message No Videos found
            