extends base

if errorMessage
span=errorMessage

block contents 
    form(method="POST")
        input(placeholder="Title", required, type="text", name="title")
        input(placeholder="Description", required, type="text", name="description")
        input(placeholder="hashtags", required, type="text", name="hashtags")
        input(type="Submit", value="Upload")
