header 
        nav
          ul
            li 
              a(href="/").header__logo MeTube
            li
              a(href="/search")
                i.fab.fa-search
            if loggedIn
              li
                a(href="/user/"+loggedInUser._id) my profile
              li
                a(href="/user/logout") log out
              li 
                a(href="/video/upload") upload
              li 
                a(href="/user/edit") edit profile
            else
              li
                a(href="/join").header__btn join
              li
                a(href="/login").header__btn login