extends ../base

block contents 
    form(method="POST")
        input(placeholder="Password", required, type="password", name="password")
        input(placeholder="Password_Confirmation", required, type="password", name="passwordCheck")
        input(type="Submit", value="Change Password!")