extends ../base 
include ../mixins/videoList

block contents  
    p #{user.username}'s profile
    br
    h2 Uploads 
    div.video-grid
        each video in user.videos
            +video(video)
        else
            span.empty__message No Videos found